asn1crypto==0.24.0
attrs==18.1.0
Automat==0.6.0
cffi==1.11.5
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
cycler==0.10.0
fake-useragent==0.1.10
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.3
parsel==1.4.0
Pillow==6.0.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pygal==2.4.0
pygal-maps-world==1.0.2
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
queuelib==1.5.0
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
Twisted==18.4.0
w3lib==1.19.0
zope.interface==4.5.0
